
@media screen and (orientation:portrait)
{
  #main {
    width:100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .cardStyle {
    width: 250px;
    height: 350px;
    margin: 0;
  }

  .royalCard {
    width: 250px;
    height: 350px;
  }
  .flip-card {
    width: 250px;
    height: 350px;

    }
  ul {
    overflow: auto;
    white-space: nowrap;
    height: 375px;
  }

  ul li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
  }
  .div-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 350px;
  }
  .btnStyle {
    height: 50px;
    width: 25%;
    border-radius: 15px 15px 15px 15px;
    font-size: 2vw;
  }

}
