
@media screen and (orientation:portrait)
{
  #header {
      font-size: 5vw;
  }
  #main {
    width:100%;
    flex-direction: column;
    align-items: flex-start;
  }
  #startPageBody {
    flex-direction: column;
    align-items: center;
  }
  .startPageColumns {
    margin-top: 5%;
    width: 75%;
  }
  .startPageColumns p {
    font-size: 3vw;
  }
  #hintTitle {
    font-size: 2.5vw;
  }
  #hintIcon {
    padding: 2%;
    border-radius: 15px 15px 15px 15px;
    font-size: 2vw;
  }
  .startPageColumns button {
    margin-top: 5%;
  }
  .cardStyle {
    width: 250px;
    height: 350px;
    margin-top: 25%;
  }

  .royalCard {
    width: 250px;
    height: 348px;
    margin-top: 25%;
  }
  .flip-card {
    width: 250px;
    height: 350px;
    }
  .hint {
    font-size: 3vw;
    width: 60%;
  }
  ul {
    overflow: auto;
    white-space: nowrap;
    height: 500px;
  }
  #message {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4vw;
  }

  ul li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
  }
  .div-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 300px;
  }
  .btnStyle {
    height: 65px;
    width: 235px;
    border-radius: 15px 15px 15px 15px;
    font-size: 2.5vw;
  }
  #popUp {
    width:50%;
    left: 20%;
    font-size: 5vw;
  }

}
